.todo_comp,
.crate_todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.create_btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fa6a6a;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
}
.create_btn:focus {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d6def5;
  height: 100vh;
}
.wrapper form {
  width: 100%;
}
.wrapper_content {
  width: 30%;
  height: 80vh;
  background: white;
  padding: 24px 18px;
  border-radius: 24px;
}
.crate_todo input {
  width: 90%;
  margin-right: 12px;
  border: none;
  background: #fff;
  padding: 12px;
  border-radius: 12px;
}
.crate_todo input {
  text-indent: 5px;
  font-size: 12.6pt;
  border-radius: 5px;
  border: solid 1.5px #d3d3d3;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
}
input[type="text"]:hover {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
}
input[type="text"]:focus {
  box-shadow: 0 0 5pt 2pt #d3d3d3;
  outline-width: 0px;
}
.ant-popover {
  z-index: 1 !important;
}
